/*Горизонтальное выпадающее меню a*/
/* Блок меню*/
ul{
    margin: 0;
    padding: 0;
}
div.nav li {
    background: #B3B3FF;
    border-right: 1px solid #FFFFFF;
    float: left; /*делаем меню горизонтальным*/
    height: 30px;
    list-style: none;
}
div.nav li a {
    text-decoration: none;
    display: block;
    padding: 5px 5px 5px 15px;
}
div.nav li ul {
    display: none;	/*скрываем вложенные пункты*/
    margin-right: 20px;
}
div.nav { /*задаём высоту и ширину меню*/
    background: #B3B3FF;
    height: 30px;
    width: 600px;
}

/*Выпадающее меню*/

div.nav li:hover {
    background: yellow;
    position: relative;
}
div.nav li:hover > ul {
    border-top: 1px solid white;
    display: block;
    animation-name: border_shift;
    animation-duration: 0.1s;
    position: absolute;
    top: 30px; /*первый уровень меню раскрывается вниз*/
    left: 0;
}
/*Второй и последующие уровни вложенности*/
div.nav li ul li{
    border-bottom: 1px solid white;
    height: auto;
    width: 150px;
}
div.nav li:hover ul li ul{
    position: absolute;
    top: 0;
    left: 150px; /*второй и последующие уровни расскрываются вправо*/
}

div.nav li.separator a {
    border-bottom: 2px solid red;
    font-size: 0;
    padding: 0;
}

@keyframes border_shift {
    0%{
        opacity: 0.7;
        border-left: 3px solid rgba(0, 0, 0, 0);
    }
    100%{
        opacity: 1;
        border-left: 1px solid rgba(0, 0, 0, 0);
    }
}
